*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

video {
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  height: 386px;
  margin-bottom: 14px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  inline-size: 100%;
  border: none;
}

.search-form__fieldset:focus-visible {
  outline: none;
}

.search-form__fieldset:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
  opacity: 1;
}

.button {
  width: 100%;
  height: 34px;
  border: 1px solid white;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px white;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.more-button {
  width: 390px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.search-form__submit-button {
  padding: 6px 73px;
  align-self: end;
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:hover {
  text-decoration: underline 1px white;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__textfield {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  color: #fff;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
  padding-top: 5px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search-form__textfield:active {
  outline: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color: white;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: #545050;
}

.content__details {
  justify-content: end;
  display: flex;
  flex-direction: column;
  gap: 22px;
  block-size: 100%;
  inline-size: 399px;
}

.content__list-container {
  block-size: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: normal;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  max-width: 50%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}